body {
  background-color: #222;
  height: 100vh;
}

.header {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .main_menu {
  background-color: rgba(163, 163, 163, 0.323);
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
}

.header .main_menu > div {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
}

.header .main_menu > div #search {
  height: 20px;
  width: 250px;
}

.header .main_menu > div #searchBtn {
  padding-left: 10px;
  margin-right: -5px;
  cursor: pointer;
}

.header .movie_header_container {
  padding: 100px 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.header .movie_header_container .movie_header_image {
  background-color: #777;
  min-width: 250px;
  height: 500px;
  margin-right: 200px;
}

.header .movie_header_container .movie_header_image > img {
  height: 100%;
}

.header .movie_header_container .movie_header_image:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.header .movie_header_container ul {
  padding: 0 10px;
}

.header .movie_header_container li {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 3px #333;
}
.header .movie_header_container .movie_title {
  font-size: 32px;
}

.movie_list_container {
}

.movie_list_container .movie_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0px;
  perspective: 1100px;
}

/* card */
.movie_list_container .movie_cards div {
  background-color: #fff;
  width: 200px;
  height: 350px;
  margin: 20px 15px;
  padding: 20px;
}

.movie_list_container .movie_cards div:hover {
  transition: 0.3s;
  z-index: 1;
  box-shadow: 0 0 4px 3px #555;
  transform: scale(1.2);
  height: 600px;
}

.movie_list_container .movie_cards div .info {
  display: none;
}
.movie_list_container .movie_cards div:hover .info {
  display: block;
}

.movie_list_container .movie_cards div img {
  margin-bottom: 5px;
  height: 300px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border-top: 1px solid #333;
}
